@use '../../lib/service.scss' as service;

.form {
	display: flex;
	flex-direction: column;
	padding: service.space(4);
	gap: service.space(8);

	&__title {
		font-size: 20px;
		font-weight: bold;
		padding-bottom: service.space(1);
		margin-bottom: service.space(4);
		border-bottom: 1px solid service.color('light');
	}

	&__content {
		display: grid;		
		gap: service.space(6);
	}

	&__field {
		display: flex;
		flex-direction: column;
		gap: service.space(2);		
	}

	&__label {
		font-size: 14px;
	}

	&__input {
		padding: service.space(2);
		border: 1px solid service.color('light');
		border-radius: 4px;
	}

	&__button {
		padding: service.space(2);
		border: 1px solid service.color('light');
		border-radius: 20px;
	}
}

main {
	display: flex;
	flex-direction: column;
	gap: service.space(10);
}

.user-list {
	li {
		padding-right: 15px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}